.header {
  font-family: "Poppins", sans-serif;
  /* font-style: italic; */
  font-weight: 800;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  background: radial-gradient(
    circle farthest-side at bottom center,
    #153243e6 7%,
    #868a7b 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
