.title {
  font-family: "Poppins", sans-serif;
  /* font-style: italic; */
  font-weight: 800;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4rem;
  background: radial-gradient(
    circle,
    rgba(21, 50, 67, 0.811) 0%,
    rgba(40, 75, 99, 0.859) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 620px) {
  .title {
    font-size: 3rem;
  }
}
