.wrapper {
  max-width: 900px;
  margin: 9rem auto;
  padding: 0 7px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 900px; */
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.item {
  flex: 1;
}

.itemImage {
  flex: 1 1 150px;
}
.image {
  border-radius: 50%;
  box-shadow: 2px 2px 7px 1px #1532430f;
}

.itemText {
  flex: 10 1 400px;
}

.btn {
  background: radial-gradient(
    circle farthest-side at bottom center,
    #284b63a7 0%,
    #153243a5 40%
  );
  padding: 7px 15px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  color: white;
}

.btn:hover {
  box-shadow: 2px 2px 5px 1px rgba(200, 200, 200, 0.411);
}
