/* .wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
} */

.nav {
  display: flex;
  max-width: 900px;
  justify-content: center;
  justify-content: space-between;
  padding: 20px 5px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: rgb(43, 43, 43);
  background: radial-gradient(
    circle,
    rgba(21, 50, 67, 0.811) 0%,
    rgba(40, 75, 99, 0.859) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px;
  font-weight: 600;
}

.links a {
  margin-left: 12px;
  text-decoration: none;
  color: black;
}

.logo span {
  font-weight: bold;
  margin-right: auto;
}
