/* .wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
} */

.navContainer {
  display: flex;
  max-width: 900px;
  justify-content: center;
  justify-content: space-between;
  padding: 20px 5px;
  margin: 0 auto;
}

.active {
  border-bottom: 1px solid rgb(169, 169, 169);
}

.logo {
  text-decoration: none;
  color: rgb(63, 63, 63);

  margin: 5px;
  font-weight: 600;
}

.links a {
  margin-left: 12px;
  text-decoration: none;
  color: black;
}

.logo span {
  font-weight: bold;
  margin-right: auto;
}

.NavBar .links {
  display: flex;
  flex-direction: row;
}

.NavBar li {
  list-style-type: none;
  margin-bottom: 20px;
}

.NavBar .MobileNavigation {
  display: none;
}

@media (max-width: 620px) {
  .NavBar .Navigation {
    display: none;
  }

  .NavBar .links {
    display: flex;
    flex-direction: column;
  }

  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
  }

  .NavBar li {
    list-style-type: none;
    margin-bottom: 20px;
  }
  .NavBar li:first-child {
    margin-top: 25px;
  }

  .NavBar .links {
    position: absolute;
    right: 0;
    top: 50px;
    padding-right: 20px;
    background-color: white;
    /* opacity: 0.9; */
    width: 100%;
    text-align: center;
  }
}
